<!--
                                  COURSE LIST PAGE
Page comes with a button for Filter and Course Info which are not currently implemented. There are dropdown menus for Department, Credits,
Days, and Pathways. Furthermore, it has the standard Top Nav Bar and a table for Courses. 

-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Course List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bottom three links provide access to BootStrap and CSS stylesheet-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/TigerPaws/functions/registration.js"></script>
</head>
<body>
<!--Nav Bar at top of Screen-->
<%- include('partials/home-navigation-bar.ejs')%>
<!--The Dropdown Filter Menu DOES NOT WORK-->
<div class="container">
    <div class="row"    style="margin-bottom: 2rem;">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">       
            <div class="dropdown"> 
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #791910;">Department
            <span class="caret"></span></button>
            <!--Department Dropdown Menu-->
            <ul class="dropdown-menu">
              <li><a href="#">CSCI</a></li>
              <li><a href="#">GRST</a></li>
              <li><a href="#">URBS</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">          
          <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #791910;">Credits
                <span class="caret"></span></button>
                <!--Credits Dropdown Menu-->
                <ul class="dropdown-menu">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #791910;">Days
                    <span class="caret"></span></button>
                    <!--Days Dropdown Menu-->
                    <ul class="dropdown-menu">
                    <li><a href="#">M,W,F</a></li>
                    <li><a href="#">T,Th</a></li>
                    <li><a href="#">M,W</a></li>
                    </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #791910;">Pathways
                    <span class="caret"></span></button>
                    <!--Pathways Dropdown Menu-->
                    <ul class="dropdown-menu">
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <!--Filter Button-->
            <button type="button" class="btn" style="background-color: #ddb9b6;">Filter</button>
        </div>

    </div>

</div>
<div class="container">
    <!--Table of Classes-->
<table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th scope="col">Class ID</th>
                <th scope="col">Course Info</th>
                <th scope="col">Days</th>
                <th scope="col">Time</th>
                <th scope="col">Instructor</th>
                <th scope="col"></th>
            </tr>

            <!--Starts a loop where a new row of the table is drawn for every element in courses (see courses.js for detail on courses)-->
            <% for(var i=0; i<courses.length; i++) {%>
            <tr>


                <td><%= courses[i].courseDept %>-<%= courses[i].courseNum %> <%= courses[i].courseSection %></td> 
                <td><button data-toggle="collapse" data-target="#demo" style="background-color:#b9291b8e;"><%= courses[i].name %></button>

                <div id="demo" class="collapse"><%= courses[i].courseDescription %>
                </div></td>
                <td><%= courses[i].meetingTime.days%></td>
                <td><%= courses[i].meetingTime.startTime%> - <%= courses[i].meetingTime.endTime%></td>
                <td><%= courses[i].instructor%></td>
                <td><button type="button" class="btn" style="background-color: #ddb9b6;" data-class-id="<%=courses[i]._id%>" onClick = "addToList(this)">Register</button></td>
                <!--/*location.href = 'register' + '?courseId'+ courses[i]._id.str;*/-->
                <!--onClick, add a function that automatically registers student for class-->
            </tr>
            <% } %>   
        </tbody>
    </thead>
</table>
</div>
</body>
</html>